beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
evdev==1.7.0
future==1.0.0
gTTS==2.5.1
idna==3.6
iso8601==2.1.0
numpy==1.26.4
pillow==10.3.0
pynput==1.7.6
python-xlib==0.33
pyttsx3==2.90
PyYAML==6.0.1
requests==2.31.0
serial==0.0.97
six==1.16.0
soupsieve==2.5
SpeechRecognition==3.10.3
typing_extensions==4.10.0
urllib3==2.2.1
wikipedia==1.4.0
